.container {
  background-color: #ccc;
}

.header {
  background-color: #ccc;
}

.body {
  background-color: #ccc;
}

.section {
  background-color: #ccc;
}

.section-title {
  background-color: #ccc;
}

.section-content {
  background-color: #ccc;
}

.feature-wrapper {
  background-color: #ccc;
}

.feature {
  background-color: #ccc;
}

.setting {
  background-color: #ccc;
}

.secondary-setting {
  background-color: #ccc;
}

.disabled {
  background-color: #ccc;
}
