.bgnd {
  background-color: bisque;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  display: grid;
  grid-template-columns: 1fr 6fr;
  min-height: 15vh;
}

.main {
  display: grid;
  grid-template-columns: 1fr 6fr;
  min-height: 85vh;
}